html
  head
    meta(charset='utf-8')
    title Ludvig Öberg
    meta(name='description', content='The portfolio of a block chain enthusiast.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
 
    link(rel='stylesheet', href='/css/app.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/js/index.js')

  body

    section.top
      .avatar
      h2 Hi! I’m Ludvig, and I love the block chain. 

      .social-icons
        a.twitter(href="https://twitter.com/ludvigoeberg" target="_blank")
        a.linkedin(href="https://www.linkedin.com/in/ludvigoberg" target="_blank")
        a.mail(href="mailto:ludvig@genesisconsultancy.se" target="_blank")

    section.safello
      p I co-founded the Bitcoin company
      a.logo(href="https://www.safello.com")

    section.genesis-block
      p.first I founded, and work, at
      a.logo(href="http://genesisblock.se")
      p We help you leverage blockchain technology

    section.chromaway
      .page-container
        .info
          p I currently work at
          a.logo(href="http://chromaway.com")
          p to develop innovative Blockchain solutions

        .phone

        .clearfix
      .divider

    section.events
      p I’m also involved in other Bitcoin organizations…
      a.bitcoinforeningen(href="http://www.bitcoinforeningen.se")
      a.satoshi-square(href="http://www.meetup.com/stockholm-satoshi-square")

    section.press
      h2 Press

      ul
        li
          .logo.di
          .info
            time May 4, 2016
            a(href="http://www.di.se/artiklar/2016/5/3/striden-om-dina-pengar-sker-digitalt/")
              | Striden om dina pengar sker digitalt

        li
          .logo.borspodden
          .info
            time Mar 16, 2016
            a(href="https://soundcloud.com/borspodden/avsnitt-134-bitcoinspecial-med-ludvig-oberg")
              | Bitcoinspecial med Ludvig Öberg

        li
          .logo.ux-podden
          .info
            time Apr 11, 2016
            a(href="http://ux-podden.madewithopinion.com/bitcoin-blockchain/")
              | Bitcoin & blockchain

        li
          .logo.di
          .info
            time Nov 16, 2013
            a(href="http://www.di.se/artiklar/2013/11/15/han-tar-bitcoin-till-sverige/")
              | Han tar Bitcoin till Sverige

        li
          .logo.startup-podden
          .info
            time Apr 8, 2015
            a(href="http://www.startuppodden.se/2015/04/34-sup46-special-ludvig-oberg-investerare-och-affarsutvecklare-safello/")
              | Ludvig Öberg, investerare och affärsutvecklare Safello

        li
          .logo.sr
          .info
            time Nov 15, 2013
            a(href="https://sverigesradio.se/sida/artikel.aspx?programid=83&artikel=5704741")
              | Första bitcoin-automaten i Sverige

        li
          .logo.dn
          .info
            time Aug 18, 2014
            a(href="http://www.dn.se/ekonomi/varnar-for-osaker-bitcoin-mining/")
              | Varnar för osäker bitcoin mining

        li
          .logo.va
          .info
            time Apr 8, 2015
            a(href="http://www.va.se/nyheter/2015/04/08/20-aringen-som-ska-gora-bitcoin-enkelt-att-anvanda/")
              | 20-åringen som ska göra bitcoin enkelt att använda

        li
          .logo.idg
          .info
            time Dec 9, 2013
            a(href="http://internetworld.idg.se/2.1006/1.537928/har-ar-sveriges-forsta-bitcoin-bankomat")
              | Här är Sveriges första bitcoin-bankomat

        li
          .logo.vv
          .info
            time Mar 25, 2015
            a(href="https://www.youtube.com/watch?v=z6n6nxxmiGk")
              | Kan den nya valutan hota bankerna?

      footer
        p Want to work with me?
        a.mail(href="mailto:ludvig@genesisconsultancy.se") Get in touch!
